.cardsContainer {
  display: flex;
  justify-content: space-between;
}

.kumite {
}

.teamkumite {
  height: 100%;
}

.akaCard {
  background-color: var(--aka-color);
}

.shiroCard {
  background-color: var(--shiro-color);
}

.colorName {
  display: flex;
  justify-content: space-between;
}

.akaName {
  padding-left: 70px;
  font-size: 2.3vw;
  color: var(--aka-color);
}

.shiroName {
  padding-right: 70px;
  font-size: 2.3vw;
  color: var(--shiro-color);
}

.outerCard {
  margin-top: 10px;
  width: 49%;
  height: 18vh;
  border-radius: 10px;
}
