.scrollable {
  width: 100%;
  position: relative;
  outline: none;
  height: 95vh;
  overflow-y: auto;
  overflow-x: hidden;
}

.drawContainer {
  display: flex;
  justify-content: center;
  height: 1000px;
  position: relative;
  outline: none;
  width: 100%;
  overflow-y: auto;
  overflow-x: hidden;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #888;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}
