.scrollable {
  width: 100%;
  position: relative;
  outline: none;
  height: 97vh;
  overflow-y: auto;
  overflow-x: hidden;
}

.drawContainer {
  display: flex;
  justify-content: center;
  /* min-height: 800px; */
  min-height: 90%;
  height: fit-content;
  position: relative;
  outline: none;
  width: 100%;
  overflow-y: auto;
  overflow-x: hidden;
}

.backToTop {
  width: 100%;
  text-align: center;
  font-size: 2vw;
  padding-top: 5vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.backToTop span {
  cursor: pointer;
  text-decoration: underline;
}

.backToTop span:hover {
  color: rgb(0, 104, 145);
}
