.matchesDiv {
  width: 80%;
  margin-top: 120px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2vw;
}

.finalButton {
  width: 20%;
  display: inline-block;
  background-color: var(--aka-color);
  color: var(--aka-contrast-color);
  border: none;
  padding: 15px;
  font-size: 2vw;
  border-radius: 20px;
  cursor: pointer;
}

.downloadButton {
  background-color: var(--aka-color);
  color: var(--aka-contrast-color);
  border: none;
  padding: 15px;
  margin: auto;
  margin-top: 5vh;
  font-size: 2vw;
  border-radius: 20px;
  cursor: pointer;
}

.eachMatch {
  width: 75%;
  padding: 20px;
  font-size: 2vw;
  text-align: center;
  border: 5px solid var(--aka-color);
  border-radius: 20px;
}
