.matchesDiv {
  margin-top: 120px;
  display: flex;
  flex-direction: column;
  gap: 2vw;
}

.downloadButton {
  background-color: #bf0303;
  color: white;
  border: none;
  padding: 15px;
  margin: auto;
  margin-top: 5vh;
  font-size: 2vw;
  border-radius: 20px;
  cursor: pointer;
}

.eachMatch {
  padding: 20px;
  font-size: 2vw;
  text-align: center;
  border: 5px solid #bf0303;
  border-radius: 20px;
}
