.scrollable {
  width: 100%;
  position: relative;
  outline: none;
  height: 95vh;
  overflow-y: auto;
  overflow-x: hidden;
}

.centerForm {
  width: 100%;
  margin-top: 12vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.groupDiv {
  width: 90%;
}

.groupNumber {
  font-size: 2.5vw;
}

.beltColor {
  width: 80%;
  font-size: 2.2vw;
  display: flex;
  justify-content: space-between;
  padding: 10px 0;
}

.matchesDiv {
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 5px solid #bf0303;
  border-radius: 20px;
  margin: 20px auto;
  font-size: 2vw;
}

.eachMatch {
  display: flex;
  width: 90%;
  justify-content: space-between;
  padding: 10px;
  align-items: center;
}

.vsCenter {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.drawButton {
  background-color: #bf0303;
  color: white;
  border: none;
  padding: 15px;
  margin-top: 5vh;
  font-size: 2vw;
  border-radius: 20px;
  cursor: pointer;
}

.downloadButton {
  text-align: center;
  background-color: #bf0303;
  color: white;
  border: none;
  padding: 15px;
  margin-bottom: 5vh;
  font-size: 2vw;
  border-radius: 20px;
  cursor: pointer;
}

.downloadDiv {
  display: flex;
  justify-content: center;
}