.flexDiv {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.themeButton {
  left: 10%;
  position: relative;
}

.appName {
  padding: 15px;
  text-align: center;
  font-size: 3.2vw;
  margin: 0;
}

.centerLogo {
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.centerLogo img {
  width: 40%;
  height: 60%;
  object-fit: contain;
}
