.numberContainer {
  width: 20%;
  display: table;
}

.invert {
  order: 2;
}

.compNumber {
  background-color: transparent;
  width: 60%;
  font-size: 3vw;
  border: none;
  height: 80px;
}

.white {
  display: block;
  color: white;
  margin: 10px 0 0 70px;
  direction: ltr;
}

.black {
  margin: 10px 70px 0 0;
  color: black;
  display: block;
  direction: rtl;
}
