.clubContainer {
  width: 80%;
}

.compClub {
  width: 100%;
  background-color: transparent;
  font-size: 3vw;
  text-transform: uppercase;
  border: none;
  overflow-x: visible;
  font-style: italic;
}

.white {
  color: white;
  margin: auto;
  padding-left: 40px;
  margin-top: 10px;
  direction: ltr;
}

.black {
  color: black;
  width: 95%;
  margin: auto;
  margin-right: 20px;
  margin-top: 10px;
  direction: rtl;
}
