.nameContainer {
  width: 100%;
}

.compName {
  background-color: transparent;
  width: 80%;
  font-size: 3vw;
  border: none;
  overflow-x: visible;
}

.white {
  color: white;
  margin: 20px 0 0 70px;
  direction: ltr;
}

.black {
  float: right;
  color: black;
  margin-left: auto;
  margin-right: 70px;
  margin-top: 20px;
  direction: rtl;
}
