.upperLayer {
  z-index: 1;
  position: relative;
}

.kataName {
  background-color: transparent;
  width: 70%;
  font-size: 3vw;
  border: none;
  height: 80px;
}

button {
  display: none;
}

.white {
  color: white;
  margin-left: 70px;
  direction: ltr;
}

.black {
  color: black;
  margin-left: auto;
  display: block;
  margin-right: 70px;
  direction: rtl;
}
