.relativePos {
  position: absolute;
  top: 20px;
  z-index: 2;
}

.navButton {
  color: white;
  background-color: transparent;
  border: none;
  font-size: 2.3vw;
  cursor: pointer;
  padding: 10px;
  outline: none;
  z-index: 2;
}
