.headerSpacing {
  font-size: 2.7vw;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 10px;
  margin-bottom: 30px;
  margin-top: 20px;
}

.group {
  justify-content: center;
  padding: 20px;
  margin: 0;
  border-bottom: 10px solid var(--theme-background-color);;
  position: fixed;
  background-color: var(--theme-background-color);
  z-index: 1;
}

.elimination {
  justify-content: center;
  padding: 20px;
  margin: 0;
  border-bottom: 10px solid var(--theme-background-color);;
  position: fixed;
  background-color: var(--theme-background-color);
  z-index: 1;
}

.matches {
  justify-content: center;
  padding: 20px;
  margin: 0;
  border-bottom: 10px solid var(--theme-background-color);;
  position: fixed;
  background-color: var(--theme-background-color);
  z-index: 1;
}

input {
  color: var(--theme-text-color);
}

.modText {
  padding-left: 8vw;
  width: 35%;
}

.tatamiText {
  padding-left: 8vw;
  width: 25%;
}

.tatamiInput {
  background-color: transparent;
  font-size: 2.7vw;
  width: 10%;
  border: none;
  padding-right: 100px;
}

.kataText {
  width: 55%;
}

.kata {
  width: 60%;
}

.teamkata {
  width: 60%;
}

.kumite {
  width: 60%;
}

.teamkumite {
  width: 60%;
}

.modInput {
  outline: none;
  background-color: transparent;
  font-size: 2.7vw;
  width: 45%;
  border: none;
  color: var(--theme-text-color);
}

.modInput option {
  color: white;
  max-height: 30px !important;
  font-size: 1.5vw;
  height: 40px;
  background-color: var(--theme-background-color);;
}

.categoryInput {
  outline: none;
  background-color: transparent;
  font-size: 2.7vw;
  width: 65%;
  border: none;
  color: var(--theme-text-color);
}

.categoryInput option {
  color: var(--theme-text-color);
  max-height: 30px !important;
  font-size: 1.5vw;
  height: 40px;
  background-color: var(--theme-background-color);;
}

.matchTypeText {
  margin-top: 20px;
  width: 25%;
}

.noTopMargin {
  margin-top: 0;
}

.typeInput {
  outline: none;
  background-color: transparent;
  font-size: 2.7vw;
  width: 60%;
  border: none;
  color: var(--theme-text-color);
}

.typeInput option {
  color: var(--theme-text-color);
  max-height: 30px !important;
  font-size: 1.5vw;
  height: 40px;
  background-color: var(--theme-background-color);;
}

.valueDefault {
  color: rgb(72, 72, 72);
}

input:focus {
  outline: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  /* display: none; <- Crashes Chrome on hover */
  -webkit-appearance: none;
  margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}
