.navContainer {
  position: absolute;
  top: 100px;
}

.navBar {
  background-color: var(--theme-navBar-color);
  transition: background-color 0.3s ease-in-out;
  height: 90vh;
  width: 600px;
  position: fixed;
  z-index: 3;
  font-size: 2vw;
  display: flex;
  flex-direction: column;
  overflow: auto;
}

.listContainer {
  text-align: center;
}

.listContainer ul {
  text-align: center;
  padding: 15px;
  margin: 0;
  list-style-type: none;
}

.listContainer ul li {
  cursor: pointer;
  padding: 20px;
  border-bottom: solid;
}

.blinker_dark_theme {
  animation: pulse 1s linear infinite;
}

.blinker_light_theme {
  animation: pulse 1s linear infinite;
}

@keyframes pulse {
  0%,
  100% {
    background-color: rgb(0, 104, 145);
  }
  50% {
    background-color: var(--theme-navBar-color);
  }
}

.currentPage {
  background-color: var(--aka-color);
}

.open {
  left: 0;
  transition: left 0.5s ease-in-out; 
}

.close {
  left: -620px;
  transition: left 0.5s ease-in-out;
}

.inputFile {
  display: none;
}

.liStyling {
  color: var(--theme-text-color);
  text-decoration: none;
  transition: color 0.3s ease-in-out;
}
