.navContainer {
  position: absolute;
  top: 100px;
}

.navBar {
  background-color: rgba(0, 0, 0, 0.8);
  height: 90vh;
  width: 500px;
  position: fixed;
  z-index: 3;
  font-size: 2vw;
  display: flex;
  flex-direction: column;
  overflow: auto;
}

.listContainer {
  text-align: center;
}

.listContainer ul {
  text-align: center;
  padding: 15px;
  margin: 0;
  list-style-type: none;
}

.listContainer ul li {
  cursor: pointer;
  padding: 20px;
  border-bottom: solid;
}

.open {
  left: 0;
}

.close {
  left: -520px;
}

.inputFile {
  display: none;
}
