.square {
  width: 19.5%;
  background-color: #cfcfcf;
  height: 23vh;
  margin-top: auto;
  border-radius: 10px;
}

.scores {
  text-align: center;
  width: 100%;
  font-size: 5vw;
  background-color: transparent;
  height: 23vh;
  border: none;
  color: black;
}
