.pointNumberContainer {
  margin-left: 7vw;
  width: 40%;
  height: 40vh;
  float: right;
  display: flex;
}

.pointNumberContainer input {
  width: 12vw;
  background-color: transparent;
  border: none;
  font-size: 18vw;
  color: #bf0303;
}

.blinking {
  animation: blinker 0.8s linear infinite;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}
