.akaFoulSquare {
  cursor: pointer;
  display: inline-block;
  height: 3vw;
  width: 5vw;
  background-color: var(--aka-color);
  display: inline-block;
  border-radius: 20px;
  margin-left: 1.5vw;
}

.shiroFoulSquare {
  cursor: pointer;
  display: inline-block;
  height: 3vw;
  width: 5vw;
  background-color: white;
  border-radius: 20px;
  margin-left: 1.5vw;
}

.lostByFoul {
  background-color: var(--lost-by-fouls-color);
}
