.middleContainer {
  width: 30%;
  height: 60vh;
  border-radius: 10px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  outline: none;
}

.timeContainer {
  position: fixed;
  top: 400px
}

.middleContainer .timeContainer span {
  font-size: 7vw;
  color: yellow;
  cursor: pointer;
}

.middleContainer .timeContainer input {
  /* direction: rtl; */
  font-size: 12vw;
  color: yellow;
  background-color: transparent;
  border: none;
  width: 13vw;
  cursor: pointer;
}

.middleContainer .timeContainer .minutesInput {
  width: 7vw;
}

.middleContainer .timeContainer .millisecondsInput {
  font-size: 3vw;
  width: 4vw;
  top: -50px;
}

.middleContainer .lastSeconds input {
  color: orange;
}

.middleContainer .lastSeconds span {
  color: orange;
}

.middleContainer .timerEnded input {
  animation: blinker 0.8s linear infinite;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}

.matches {
  margin-top: 350px;
  width: 90%;
  display: flex;
  justify-content: space-between;
}

.matchesResults {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.wonMatches {
  border-radius: 20%;
  cursor: pointer;
  width: 90px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.7vw;
  font-weight: bold;
}

.matchesResults .wonMatches {
  border: 1px solid rgb(128, 128, 128);
}

.white {
  color: black
}

.blinking {
  animation: blinker 0.8s linear infinite;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}
